body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Mono", monospace;
}
header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
header div {
  float: left;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  margin-left: 150px;
  padding: 18px;
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 190px;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  float: left;
  padding: 10px 14px;
}
.navbar ul li a {
  text-decoration: none;
  color: #313030;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 600;
  font-size: 14px;
}

.navbar ul li a:hover {
  color: #8490ff;
}
/* section area------  */

.section1 {
  background-color: #f9f9ff;
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.half1,
.half2 {
  width: 50%;
}
.half1 {
  margin-left: 170px;
  margin-bottom: 50px;
}
.half2 {
  padding-right: 100px;
}
.half2 img {
  max-width: 100%;
  height: auto;
}
.half1 h3 {
  font-weight: 200;
  color: #222222;
  text-transform: uppercase;
}
.half1 h1 {
  font-size: 50px;
  font-weight: bold;
}
.half1 h6 {
  color: rgb(107, 105, 105);
  font-size: 13px;
  font-weight: 400;
  width: 90%;
}
span {
  color: #64bbfc;
}
.half1 input {
  padding: 10px 35px;
  outline: none;
  background: linear-gradient(45deg, #8195ff, #64bbfc);
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
}
.half1 input:hover {
  box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
  transition: all 0.5s ease-in 0.1s;
  outline: none;
}
/* section end ----  */

/* Section 2 start---- */

.section2 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 img {
  width: 100%;
  height: auto;
}
.half-1,
.half-2 {
  width: 50%;
}
.half-1 {
  margin-left: 170px;
}
.half-2 {
  margin-left: 100px;
  margin-bottom: 50px;
}
.half-2 h3 {
  font-weight: 200;
  color: #222222;
  text-transform: uppercase;
  font-size: 17px;
}
.half-2 h1 {
  font-size: 37px;
  font-weight: bold;
}
.half-2 h6 {
  color: rgb(107, 105, 105);
  font-size: 13px;
  width: 70%;
  font-weight: 400;
}
.half-2 input {
  padding: 10px 35px;
  outline: none;
  background: linear-gradient(45deg, #8195ff, #64bbfc);
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
}
.half-2 input:hover {
  box-shadow: 5px 10px 30px rgba(130, 147, 255, 0.5);
  transition: all 0.5s ease-in 0.1s;
  outline: none;
}
/* section two end----  */

/* section three strat--- */

.section-3 {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.section-3 h1 {
  color: #222222;
  font-size: 35px;
  font-weight: 700;
}
.section-3 p {
  width: 45%;
  margin: auto;
  font-size: 13px;
  color: rgb(107, 105, 105);
}
.service {
  width: 80%;
  margin: 0 auto;
  padding-top: 54px;
}
.seri,
.seri-2 {
  width: 100%;
  overflow: hidden;
}
.seri div,
.seri-2 div {
  float: left;
  width: 32%;
  padding: 5px;
  margin: 0 auto;
}
.seri-2 {
  margin-top: 30px;
}
.service i {
  font-size: 35px;
  color: grey;
}
.service h1 {
  font-size: 25px;
  color: #414141;
}
.service p {
  font-size: 13px;
  width: 80%;
}
.seri div:hover {
  background-color: #8195ff;
  border-radius: 5px;
}
.seri-2 div:hover {
  background-color: #8195ff;
  border-radius: 5px;
}
.seri-2 div:hover i {
  color: #fff;
}
.seri-2 div:hover h1 {
  color: #fff;
}
.seri-2 div:hover p {
  color: #fff;
}
.seri div:hover i {
  color: #fff;
}
.seri div:hover h1 {
  color: #fff;
}
.seri div:hover p {
  color: #fff;
}
.section-4 {
  width: 100%;
  height: 300px;
  background: linear-gradient(35deg, #8195ff, #64bbfc);
  margin-top: 80px;
  margin-bottom: 100px;
}
.section-4 div {
  float: left;
  width: 20%;
  margin: 0 auto;
  position: relative;
  left: 200px;
  top: 80px;
}
.section-4 h1,
p {
  text-align: center;
  color: #fff;
}
.section-4 h1 {
  font-size: 40px;
  font-weight: bold;
}
.section-4 p {
  font-size: 14px;
  margin-top: -40px;
}
.section-5 {
  width: 100%;
}
.text-2 {
  text-align: center;
}
.text-2 h6 {
  color: gray;
  font-weight: 400;
  font-size: 14px;
  margin-top: -20px;
}
.text-2 h1 {
  font-size: 40px;
  font-weight: bold;
  color: #383838;
}

.img {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 100px;
}

.img div {
  width: 340px;
  height: 339px;
  padding-bottom: 140px;
  text-align: center;
}
.section5 figure {
  background: linear-gradient(55deg, #42adff, #8195ff);
  width: 340px;
  height: 339px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}
.section5 figure img:hover {
  opacity: 0.3;
  transition: all 0.3s;
}
.img h1 {
  font-size: 20px;
  text-align: center;
  color: #3a3737;
}
.img h5 {
  font-size: 15px;
  text-align: center;
  color: #777373;
  margin-top: -18px;
}
.section-6 {
  width: 100%;
  height: 700px;
}
.text-4 {
  text-align: center;
  padding: 2% 0;
}
.text-4 h1 {
  font-size: 40px;
  line-height: 0;
  padding-top: 15px;
}
.text-4 h5 {
  color: grey;
  font-weight: 400;
  font-size: 12px;
}
.card {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.card-1 {
  width: 320px;
  height: 530px;
  background-color: rgb(249, 249, 255);
  text-align: center;
  border: 1 px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 60px;
}
.card-1 h1 {
  font-size: 50px;
  padding-top: 8px;
}
.card-1 input {
  outline: none;
  background: linear-gradient(35deg, #8195ff, #64bbfc);
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  padding: 10px 60px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20px;
}
hr {
  color: #fff;
}
.card-1 h5 {
  font-size: 13px;
  font-weight: 300;
}
.card-1:hover {
  background-color: #8282ff;
  color: #fff;
  transition: all 0.25s case-in;
  transform: scale(1.05);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(130, 147, 255, 0.5);
  border-radius: 5px;
}
.card-1:hover input {
  color: #fff;
  background-color: #fff;
}
footer {
  background: #04091e;
  color: #fff;
  height: 400px;
  position: absolute;
  width: 100%;
  margin-top: 200px;
}
footer .foot {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 120px;
}
.foot-1 h6 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  width: 100%;
}
.foot-1 {
  width: 100%;
  margin-left: 50px;
}
.foot-2 {
  width: 100%;
  padding-left: 100px;
}
.foot-2 h5 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
.foot-2 input {
  font-size: 15px;
  outline: none;
  border: none;
  padding: 10px 150px 10px 10px;
}
.foot-2 button {
  font-size: 16px;
  padding: 12px 25px;
  background: linear-gradient(55deg, #42adff, #8195ff);
  border: none;
  border-radius: 20px;
  color: #fff;
  margin-top: 10px;
}
.foot-3 {
  width: 100%;
  padding-left: 130px;
}
.foot-3 h6 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.foot-3 i {
  font-size: 15px;
  padding-right: 5px;
  cursor: pointer;
}
.foot i:hover {
  color: hotpink;
}
